div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    transition: all;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 1s; 
    position: absolute;
    top: 100px;
    left: 100px;
}

div:hover{
    background-color: black;
   /* color: white;
    font-size: 50px;*/
    border: 4px solid orangered;
    border-radius: 0 40px 40px 0px ;
     transform: rotate(45deg); 
    /*rotate: x 45deg;*/
    /*transform: scale(2,3); */
    transform: translatex(50px);
   /* transform: skew(90deg)*/

}
/*@media(width:600px)
{
    div{
        background-color: red;
    }
}
@media(min-width :200px) and (max-width : 600px)
{
    div{
        background-color: blue;
    }
}*/