*{
    padding: 0%;
    margin: 0%;
    color: white;
    
}

#navbar{
    height: 100px;
    background-color: #0f1111;
}

button{
    background-color:#fca903;
}

#logo{
    color:#fca903;
    font-size: 25px;
    text-decoration: none;
    visibility:hidden;
}

a{
    margin-right: 220px;
}